@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div>
            <div class="form-group">
                 <select class="form-control">
                                <option value="1">1 - Bad Match!</option>
                                <option value="2">2 - Nothing Special</option>
                                <option value="3">3 - Solid</option>
                                <option value="4">4 - Very good match</option>
                                <option value="5">5 - True classic!</option>
                            </select>
            </div>
            <div class="form-group">
                <textarea class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>