/* SCSS HEX */
html {
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}

.form-group label {
  font-weight: bold;
  text-transform: uppercase;
}

main {
  min-height: 40vh;
}

.navbar {
  background: linear-gradient(#a31621 2%, #fff 20%);
}

#match-cards-view .card {
  background: linear-gradient(#bfdbf7 2%, #fff 10%);
  border: 0;
}
#match-cards-view .card:hover {
  background: linear-gradient(#db222a 2%, #fff 10%);
  cursor: pointer;
}

.match-review {
  background: rgb(242, 255, 149);
  margin: 10px 0;
}

footer {
  background: #333;
  background: linear-gradient(#eee 5%, #fff 1%, #000, #333 20%);
  color: #fff;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-top: 100px;
}

.reviews-rate-widget .review-star {
  color: #ccc;
}
.reviews-rate-widget .review-star:hover, .reviews-rate-widget .review-star.is-selected {
  color: orange;
  cursor: pointer;
}
