@model RateMatch.Mvc.Models.SportsMatches.SportsMatchCreateViewModel

@{
    ViewData["Title"] = "Create";
}
<div>
    <form>
        <label>Choose sport of this match: </label>
        <select name="sportId" asp-items="Model.Sports"></select>
        <button class="btn btn-sm btn-secondary">Change</button>
    </form>
</div>
<h1>Create</h1>

<h4>SportsMatch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemDto.MatchName" class="control-label"></label>
                <input asp-for="ItemDto.MatchName" class="form-control" />
                <span asp-validation-for="ItemDto.MatchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemDto.MatchResult" class="control-label"></label>
                <input asp-for="ItemDto.MatchResult" class="form-control" />
                <span asp-validation-for="ItemDto.MatchResult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Competition</label>
                <select asp-for="ItemDto.CompetitionId" asp-items="Model.Competitions"></select>
                <span asp-validation-for="ItemDto.CompetitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemDto.PlayedAt" class="control-label"></label>
                <input type="datetime-local" asp-for="ItemDto.PlayedAt" class="form-control" />
                <span asp-validation-for="ItemDto.PlayedAt" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
