@using RateMatch.Mvc.Models.SportsMatches;
@model SportsMatchDetailsViewModel

@{
}
<div>
    <div style="width:100%;background:#fff;border-bottom:3px solid #ccc;">
        <h1>@ViewData["Title"]</h1>
        <p>@Model.Item.PlayedAt.ToString("dd/MM/yyyy HH:mm")</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="match-reviews-app">
                <div class="ph-row">
                    <div class="ph-col-12 big"></div>
                    <div class="ph-col-12"></div>
                    <div class="ph-col-12"></div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <img src="/demo.jpg" style="width:100%" alt="Demo Image" />
            </div>
        </div>
        </div>

@section Scripts {
    <script>
        var matchId = @Html.Raw(Model.Item.Id);
    </script>
    <script type="text/babel" src="~/js/apps/matchreviewsapp/matchreviewsapp.js"></script>
}