<div>
    <p>Welcome to the RateMatch trivia quiz. Check your sports knowledge with these 10 questions.</p>
    <div id="sports-trivia-quiz">
    </div>
    <em>questions provided by the open trivia db</em>
</div>
