<div>
    Please
    <a asp-area="Identity" asp-page="/Account/Login"><strong>Login</strong></a>
    or
    <a asp-area="Identity" asp-page="/Account/Register">
        <strong>Register</strong>
    </a> to access this feature.
</div>