@using RateMatch.Mvc.Data;
@using RateMatch.Mvc.Models.Home;
@using RateMatch.Mvc.Views.MatchReviews.Partials;
@inject SignInManager<ApplicationUser> SignInManager

@model HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row">
        <div class="col col-12">
            <div class="welcome-text">
                <h2>Welcome to Rate Match!</h2>
                <p>You can review available matches.</p>
                <em>No registrations.</em>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
        <h3>Recent Matches</h3>
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="btn btn-secondary"
               asp-action="Create"
               asp-controller="SportsMatches">Submit New Match</a>
            }
            <div id="match-cards-view">
                <div class="placeholder-glow">
                    @for(int i = 0; i < 8; i++)
                    {
                        <div>
                            <p></p>
                            <div class="col-12 placeholder placeholder-lg"></div>
                            <div class="col-3 placeholder"></div>
                            <div class="col-3 placeholder"></div>
                            <p></p>
                        </div>
                    }

            </div>
        </div>
        </div>
        <div class="col col-12 col-md-6">
            <div>
                <h3>Latest Reviews</h3>
                @if (Model.Reviews != null)
                {
                    @foreach (var item in Model.Reviews)
                    {
                        var itemViewModel = new MatchReviewItemPartialViewModel()
                    {
                        Item = item,
                        IsCurrentUserItem = false
                    };
                        <partial model="itemViewModel" name="../MatchReviews/Partials/_MatchReviewItemPartial" />
                    }
                }
            </div>

                <!--external links-->
                <div>
                <h3>Latest News</h3>
                    <partial name="../Global/_NewsWidgetPartial.cshtml" model="Model.News">

                </div>
                <!--external links end-->
        </div>
    </div>
    
</div>

@section Scripts {
<script type="text/babel" src="~/js/apps/matchcardsview.js"></script>
}